.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-s {
    justify-content: flex-start;
}

.flex-1 {
    flex-grow: 1;
}

.flex-c {
    justify-content: center;
}