body {
    margin: 0;
    background-color: #eff2f7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


/* 这部分为全局重置antdesign的样式 */

.ant-upload,
.ant-upload-list-item {
    width: 148px !important;
    height: 148px !important;
    background: #fbfdff;
}